/* Home Page */

.links {
  font-size: large;
}

.homepage {
  background-color: rgb(172, 206, 235);
  text-align: center;
}

.navHome {
  color: rgb(249, 145, 145);
  text-decoration: underline;
}
.homeheader {
  color: rgb(255, 227, 145);
}

.home-content {
  color: rgb(249, 113, 113);
  font-size: large;
}

/* About Page */

.aboutpage {
  background-color: rgb(255, 227, 145);
  text-align: center;
}

.navAbout {
  color: rgb(49, 131, 162);
  text-decoration: underline;
}

.aboutheader {
  color: rgb(249, 113, 113);
}

.about-content {
  color: rgb(249, 113, 113);
  font-size: large;
}

/* Portfoio Page */

.portfoliopage {
  background-color: rgb(249, 145, 145);
  text-align: center;
}

.navPortfolio {
  color: rgb(117, 180, 238);
  text-decoration: underline;
}

.pheader {
  color: rgb(255, 227, 145);
}

.projects {
  color: rgb(49, 131, 162);
  font-size: large;
}
